$background-color: #FAFAFA;
$light-outline-color: #CCCCCC;

$text-color-1: #333333;
$text-color-2: #666666;

$accent-color-1: #B33939;
$accent-color-1-darker: #5D1E1E;
$accent-color-2: #0E48AB;
$accent-color-2-darker: #072354;
