.link-article {
    section {
        margin-bottom: 2rem;
        
        &.page-link {
            display: block;
            width: 100%;
            max-width: 36rem;
            padding: 0 2rem;
        }

        &.image-link {
            padding: 2rem;
        }
    }
}
