section {
    margin-bottom: 2rem;
}

.page-link {
    display: block;
    width: 100%;
    max-width: 36rem;
}

.image-link {
    position: relative;
}

.images {
    position: relative;
    padding: 2rem;
    padding: 8%;
    margin-bottom: 1rem;

    background: #333;
}

.images figcaption {
    display: none;
}

.desktop_promo_img {
    max-width: 75%;
}

.figure-on-top-aligned-right {
    display: none;
}

.caption {
    text-align: center;
}

@media (min-width: 450px) {
    .images figcaption {
        display: block;
        color: #FAFAFA;
    }

    .desktop_promo_img {
        margin-bottom: 1rem;
    }

    .figure-on-top-aligned-right {
        position: absolute;
        display: block;
        top: 2rem;
        top: 25%;
        right: 4rem;
        right: 10%;
    
        max-width: 18%;
    }
    
    .mobile_promo_img {
        width: 100%;
        margin-bottom: 1rem;
    }
}

.long-text {
    margin: -2rem;

    .section {
        padding: 4rem 2rem;

        &.dark {
            background: $text-color-1;
            color: $background-color;
        }

        &.smooth-break {
            background: rgba(0, 0, 0, .1);
            color: $text-color-1;
        }
    }
    h2, h3 {
        text-align: center;
        margin-top: 12rem;
        margin-bottom: 12rem;
    }
    p, ul, ol {
        margin: 0 auto 3rem;
        line-height: 1.8rem;
        max-width: 36rem;

        &:last-child {
            margin-bottom: 0;
        }
    }
}
@media screen and (min-width: 500px) {
    .long-text {
        margin: auto;
    }
}

p.last-section-paragraph {
    margin-bottom: 2rem;
}

ul.no-bullets {
    padding-left: 0;

    li {
        list-style: none;
        margin-bottom: 2rem;
    }
}
