section {
    margin-bottom: 2rem;
}

.page-link {
    display: block;
    width: 100%;
    max-width: 455px;
}

.image-link {
    position: relative;
}

.images {
    position: relative;
    padding: 2rem;
    padding: 8%;
    margin-bottom: 1rem;

    background: #333;
}

.images figcaption {
    display: none;
}

.desktop_promo_img {
    max-width: 75%;
}

.figure-on-top-aligned-right {
    display: none;
}

.caption {
    text-align: center;
}

@media (min-width: 450px) {
    .images figcaption {
        display: block;
        color: #FAFAFA;
    }

    .desktop_promo_img {
        margin-bottom: 1rem;
    }

    .figure-on-top-aligned-right {
        position: absolute;
        display: block;
        top: 2rem;
        top: 25%;
        right: 4rem;
        right: 10%;
    
        max-width: 18%;
    }
    
    .mobile_promo_img {
        width: 100%;
        margin-bottom: 1rem;
    }
}
