.text-article {
    .section {
        padding: 2rem;

        &.dark {
            background: $text-color-1;
            color: $background-color;
        }

        &.smooth-break {
            background: rgba(0, 0, 0, .1);
            color: $text-color-1;
        }
    }
    h2, h3 {
        text-align: center;
        margin-top: 12rem;
        margin-bottom: 12rem;
    }
    p, ul, ol {
        margin: 0 auto 3rem;
        line-height: 1.8rem;
        max-width: 36rem;

        &:last-child {
            margin-bottom: 0;
        }
    }
}
@media screen and (min-width: $iphone-se-portrait-width) {
    .text-article {
        margin: auto;
    }
}
@media screen and (min-width: $imac-21-inch-width) {
    .text-article {
        max-width: 1440px;
    }
}
